body {

    font-family: Arial, sans-serif;

    margin: 30px;

    background-color: #eaf6ed;

}

h1 {

    color: #023d14;

}

h2 {

    color: #29b25b;

}

h3 {

    color: #406951;

}

p, li {

    color: #000000;

}

ul {

    list-style-type: disc;

    padding-left: 20px;

}

footer{

    margin-top: 30px;

    font-size: 14px;

    color: #555;
}