body {

    font-family: Arial, sans-serif;

    margin: 20px;

    background-color: #eaf6ed;

}

h1 {

    color: #0b6b3a;

}

h2 {

    color: #145c2e;

}

h3 {

    color: #1b7a43;

}

p, li {

    color: #333;

}

ul {

    list-style-type: disc;

    padding-left: 20px;

}

footer{

    margin-top: 30px;

    font-size: 14px;

    color: #555;
}